
@{
    ViewData["Title"] = "CreateRecipe";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Yapay Zeka Destekli Yemek Tarifi Önerisi</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Elinizdeki Malzemeler Ve Anahtar Kelimeler</label>
                            <input type="text" name="prompt" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Tarif Önerisi Oluştur</button>
                        </form>
                        <br /><br />
                        @if (ViewBag.RecipeResult != null)
                        {
                            <hr />
                            <h5>Oluşturulan Yemek Tarifi Önerisi</h5>
                            @Html.Raw(ViewBag.RecipeResult.ToString())
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

