@using ApiProject.WebUI.Dtos.CategoryDto
@model GetCategoryByIdDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Kategori Güncelleme Sayfası</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input type="hidden" asp-for="Id" />
                            <label>Kategori Adı</label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <br />
                            <button class="btn btn-success">Kategoriyi Düzenle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


